.all_display {
    display: flex;
    flex-direction: column;
}

.collections_yard_flash,
.collections_yard_colle {
    background-color: rgb(247, 216, 152);
    margin: 2em;
    border-radius: 15px 15px;
    overflow-y: scroll;
}

.collections_yard_flash {
    height: 15em;
    margin-bottom: 5em;
}

.individual_collection_set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.individual_flash_set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20em;

}

.flashcard_solo {
    height: 10em;
    width: 10em;
    overflow-y: hidden;
    cursor: grab;
}