.questionnaire {
    display: flex;
    flex-direction: row;
    height: 28em;
}

.form_layout {
    display: flex;
    flex-direction: row;

}

ul {
    list-style-type: none;
}

.selections {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 15%;
    background-color: rgb(187, 238, 187);
    border-radius: 15px 15px;
    padding: 2%;
    height: 52%;

}

.selections div {
    display: flex;
    flex-direction: column;

}

.startBtn {
    width: 30em;
    margin-left: 10%;
}

.dropdownBtn {
    margin-left: 1.8em;
}