
.nav_container {
    display: flex;
    flex-direction: column;
    background-color: rgb(178, 244, 178);
    margin-top: 2em;
    padding-top: 5em;
    margin-left:0;
    padding-left: 3em;
    padding-right: 3em;
    height: inherit;
    border-top-right-radius: 15px 15px;
    font-family: '"Expletus Sans", sans-serif';

}

button {
    margin: 1em;
    border: none;
    background-color: rgb(255, 255, 161);
    padding: 2em;
    border-radius: 15px 15px;
    
}
